.nav{
    width: 100%;
    height: 80px;
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

nav{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

.logo{
    color: black;
    /* margin-left: -100px; */
    font-size: larger;
    margin-top: 10px
}

.nav-con{
    color: black;
    float: right;
    margin-top: 10px;
}

.nav-con ul{
    list-style: none;
}

nav ul{
    list-style: none;
}

.ul a{
    color: white;
    text-decoration: none;
}

.nav-con li{
    float: left;
    padding-right: 40px;
    color: black;
}

.nav-con li:hover{
    color: green;
}

nav li{
    float: left;
    padding-right: 40px;
}

nav li:hover{
    color: green;
}

.search-btn{
    width: 255px;
    height: 50px;
    font-size: 15px;
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 100px;
}

header{
    width: 100%;
    height: 840px;
    background-color: lightgrey;
    color: black;
}

.header-con{
    padding-left: 150px;
    padding-right: 20px;
    padding-top: 150px;
}

.normal-btn{
    width: 225px;
    height: 70px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    padding-top: 18px;
    float: left;
}

.inverted-btn{
    width: 225px;
    height: 70px;
    font-size: 20px;
    background-color: none;
    color: black;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    padding-top: 18px;
    float: left;
    margin-left: 30px;
}

.text{
    width: 640px;
    height: 560px;
    background-color: lightgrey;
    color: black;
    float: left;
    margin-left: 700px;
    margin-top: -60px;
    padding-left: 100px;
    padding-top: 100px;
}

.text p{
    width: 450px;
}

.vid{
    width: 640px;
    height: 390px;
    background-color: grey;
    float: left;
    margin-left: -1200px;
    margin-top: -60px;
}

.subtitle-1{
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 70px;
    margin-top: 70px;
}
.subtitle-2{
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.box{
    width: 270px;
    height: 270px;
    background-color: grey;
    margin-right: 3%;
    margin-bottom: 40px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    padding-left: 122px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.social-con{
    margin-right: 110px;
}

.socials1{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/youtube.svg");
    background-position: center;
    background-size: cover;
}

.socials2{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/facebook.svg");
    background-position: center;
    background-size: cover;
}

.socials3{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/twitter.svg");
    background-position: center;
    background-size: cover;
}

.socials4{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/instagram.svg");
    background-position: center;
    background-size: cover;
}

.albuminfo{
    margin-bottom: 100px;
}

.typo{
    width: 400px;
    height: 600px;
    margin-left: 10%;
    margin-top: 100px;
}

.vorm{
    
}

form{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: grey;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

.input-el{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background-color: lightgrey;
    margin-top: 45px;
}

select, button{
    width: 95% !important;
}

.favs{
    width: 400px;
    height: 550px;
    background-color: lightgrey;
    color: white;
    margin-left: 100px;
    margin-top: 100px;
}

.album{
    text-align: center;
    padding-top: 200px;
}

/* .playlist{
    margin-right: -100px;
} */

.song-header{
    width: 50%;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 100px; 
}

.song-subtitle{
    font-weight: bold;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.songs{
    width: 80%;
    height: 70px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 22px;
    border-bottom: 3px solid black;
}

.song{
    margin-top: -10px !important;
}

.playbar{
    width: 80%;
    margin-top: 120px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 4px solid grey;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: grey;
    margin-bottom: -20px;
    margin-left: 50px;
}

.frame{
    width: 50px;
    height: 50px;
    background-color: grey;
    margin-left: 122px;
    margin-right: 5%;
    float: left;
}

.back-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid grey;
    margin-left: 5%;
    margin-right: 3%;
}

.pause-button{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 2px solid grey;
    margin-left: 15%;
    margin-right: 3%;
    margin-top: -10px;
}

.next-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid grey;
    margin-left: 28%;
    margin-right: 3%;
}

.bar{
    margin-top: 100px;
    margin-bottom: 50px;
}