.nav{
    width: 100%;
    height: 80px;
   
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #71919D;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

.logo{
    color: black;
    /* margin-left: -100px; */
    font-size: larger;
    margin-top: 10px
}

.nav-con{
    color: black;
    float: right;
    margin-top: 10px;
}

.nav-con ul{
    list-style: none;
}

nav ul{
    list-style: none;
}

.ul a{
    color: white;
    text-decoration: none;
}

.nav-con li{
    float: left;
    padding-right: 40px;
    color: black;
}

.nav-con li:hover{
    color: #B3CED5;
}

nav li{
    float: left;
    padding-right: 40px;
}

nav li:hover{
    color: #B3CED5;
}

.search-btn{
    width: 255px;
    height: 50px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    border: 2px solid #B3CED5;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 100px;
}

header{
    width: 100%;
    height: 840px;
    background-image: url('../assets/forkingandcountryhead.jpg');
    color: black;
}

.header-con{
    padding-left: 200px;
    padding-right: 20px;
    padding-top: 150px;
}

.normal-btn{
    width: 225px;
    height: 70px;
    font-size: 20px;
    background-color: #00252F;
    color: white;
    border: 2px solid #00252F;
    border-radius: 40px;
    text-align: center;
    padding-top: 18px;
    float: left;
    margin-top: 20px;
}

.normal-btn:hover{
    background-color: transparent;
    color: #02394B;
    border: 2px solid #02394B;
}

.inverted-btn{
    width: 225px;
    height: 70px;
    font-size: 20px;
    background-color: none;
    color: #00252F;
    border: 2px solid #00252F;
    border-radius: 40px;
    text-align: center;
    padding-top: 18px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.inverted-btn:hover{
    background-color: #02394B;
    color: white;
    border: 2px solid #02394B;
}

.text{
    width: 640px;
    height: 560px;
    background-color: #02394B;
    color: white;
    float: left;
    margin-left: 700px;
    margin-top: -60px;
    padding-left: 100px;
    padding-top: 100px;
}

.text p,h2{
    padding-left: 30px;
    width: 450px;
}

.arrows{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-image: url("../assets/left_right_arrow_icon.svg");
    background-size: cover;
    background-position: center;
    margin-top:50px;
    margin-left: 280px;
}

.vid{
    width: 640px;
    height: 390px;
    /* background-color: white; */
    float: left;
    margin-left: -1200px;
    margin-top: -60px;
}

.subtitle-1{
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 70px;
    margin-top: 70px;
}
.subtitle-2{
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.box{
    width: 270px;
    height: 270px;
    background-color: grey;
    margin-right: 3%;
    margin-bottom: 40px;
}

.album1{
    background-image: url("../assets/album11.jpeg");
    background-position: center;
    background-size: cover;
}

.album2{
    background-image: url("../assets/album2.jpeg");
    background-position: center;
    background-size: cover;
}

.album3{
    background-image: url("../assets/album3.jpeg");
    background-position: center;
    background-size: cover;
}

.album4{
    background-image: url("../assets/album4.jpeg");
    background-position: center;
    background-size: cover;
}

.album5{
    background-image: url("../assets/album5.jpeg");
    background-position: center;
    background-size: cover;
}

.album6{
    background-image: url("../assets/album6.jpeg");
    background-position: center;
    background-size: cover;
}

.album7{
    background-image: url("../assets/album7.jpeg");
    background-position: center;
    background-size: cover;
}

.album8{
    background-image: url("../assets/album8.jpeg");
    background-position: center;
    background-size: cover;
}

.album9{
    background-image: url("../assets/album9.jpeg");
    background-position: center;
    background-size: cover;
}

.album10{
    background-image: url("../assets/album10.jpeg");
    background-position: center;
    background-size: cover;
}

.album11{
    background-image: url("../assets/album1.jpeg");
    background-position: center;
    background-size: cover;
}

.album12{
    background-image: url("../assets/album12.jpeg");
    background-position: center;
    background-size: cover;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #71919D;
    color: white;
    font-size: 20px;
    padding-left: 122px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.social-con{
    margin-right: 110px;
}

.socials1{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/youtube.svg");
    background-position: center;
    background-size: cover;
}

.socials2{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/facebook.svg");
    background-position: center;
    background-size: cover;
}

.socials3{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/twitter.svg");
    background-position: center;
    background-size: cover;
}

.socials4{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: url("../assets/instagram.svg");
    background-position: center;
    background-size: cover;
}

.albuminfo{
    margin-bottom: 100px;
}

.typo{
    width: 400px;
    height: 600px;
    margin-left: 10%;
    margin-top: 100px;
}

.vorm{
    
}

form{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #AACFD7;
    color: #02394B;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

.input-el{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background-color: #71919D;
    color: #02394B;
    margin-top: 45px;
}

.normal-btn2{
    width: 225px;
    height: 70px;
    font-size: 20px;
    background-color: #02394B;
    color: white;
    border: 2px solid #02394B;
    border-radius: 40px;
    text-align: center;
    padding-top: 18px;
    float: left;
    margin-left: 45%;
    margin-top: 5%;
}

.normal-btn2:hover{
    background-color: transparent;
    color: #02394B;
    border: 2px solid #02394B;
}



/* select, button{
    width: 95% !important;
    
} */

.favs{
    width: 400px;
    height: 550px;
    background-image: url("../assets/channels4_profile.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 100px;
}

.album{
    text-align: center;
    padding-top: 200px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

/* .playlist{
    margin-right: -100px;
} */

.song-header{
    width: 50%;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 100px; 
}

.song-subtitle{
    font-weight: bold;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.songs{
    width: 80%;
    height: 70px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 22px;
    border-bottom: 3px solid black;
}

.song{
    margin-top: -10px !important;
}

.current{
    width: 20px;
    height: 30px;
    background-image: url("../assets/currently_playing_icon.svg");
    background-position: center;
    background-size: cover;
}

.playbar{
    width: 80%;
    margin-top: 120px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 4px solid grey;
}

.playbar2{
    width: 15%;
    margin-top: 120px;
    margin-right: 10%;
    border-bottom: 4px solid #8ad2d8;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #8ad2d8;
    margin-bottom: -22px;
    margin-left: 150px;
}

.frame{
    width: 70px;
    height: 70px;
    background-image: url("../assets/02769-forkingandcountry_f.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 122px;
    margin-right: 5%;
    float: left;
}

.back-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-left: 30%;
    margin-right: 3%;
    background-image: url('../assets/ppprevious_icon.svg');
    background-position: center;
    background-size: cover;
}

.pause-button{
    width: 75px;
    height: 75px;
    border-radius: 70px;
    border: none
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -10px;
    background-image: url('../assets/pause_iconnew.svg');
    background-position: center;
    background-size: cover;
}

.next-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-left: 2%;
    margin-right: 3%;
    background-image: url('../assets/nnext_icon\ copy.svg');
    background-position: center;
    background-size: cover;
}

.timestamp{
    padding-top: 10px;
}

.dots{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-image: url('../assets/dots.svg');
    background-position: center;
    background-size: cover;
    margin-right: 50px;
    /* margin-left: 5%; */
}

.bar{
    margin-top: 100px;
    margin-bottom: 50px;
}

